[Unit]
Description=smart-nat
Wants=kube-proxy.service
After=kube-proxy.service

[Service]
Environment=KUBECONFIG=/etc/kubeconfig
Environment=SNCTRLR_DEBUG_ENABLED=true
Environment=SNCTRLR_INTERFACES_PATTERN=eth[1-9][0-9]*
Environment=SNCTRLR_SETUP_MASQUERADE=true
Environment=SNCTRLR_SETUP_SNAT=false
Environment=SNCTRLR_DEFAULT_GW_INTERFACE=eth0
Environment=SNCTRLR_IPTABLES_TIMEOUT_SEC=10
Environment=SNCTRLR_AUTOREFRESH_PERIOD_SEC=60
Environment=SNCTRLR_MAX_FINALIZE_WAIT_MINUTES=60
Environment=SNCTRLR_GW_ADDRESS_OFFSET=1
ExecStart=/usr/local/bin/smartnat-manager
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target