[Unit]
Description=kube-proxy

[Service]
EnvironmentFile=/etc/hostconfig
ExecStart=/usr/local/bin/kube-proxy.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
